body {
  margin: 0;
  font-family: Inter, sans-serif;
  background: #f5f6fa;
}

.container {
  padding: 20px;
}

/* Cards */
.card {
  background: #fff;
  border-radius: 10px;
  padding: 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

/* Layout */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

/* Inputs */
input,
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
}

input:focus,
textarea:focus {
  border-color: #4f46e5;
}

/* Buttons */
button {
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-primary {
  background: #4f46e5;
  color: white;
}

.btn-success {
  background: #16a34a;
  color: white;
}

.btn-danger {
  background: #dc2626;
  margin: 5px;
  color: white;
}

.btn-warning {
  background: #f59e0b;
  color: white;
  margin: 5px;
}

.btn-primary:hover,
.btn-danger:hover,
.btn-success:hover,
.btn-warning:hover {
  opacity: .9;
  font-weight: 700;
  
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

th {
  background: #eee;
}

/* Search */
.search {
  margin-top: 20px;
}

/* Responsive */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
